<%= render 'layouts/navigation2' %>
<div class="center asu-text col-sm-12">
	<p2>Hello <%= session[:team][:player_name] %> - Countdown to Kick-Off</p2>
</div>
<div id="circles" data-date="2018-09-06 20:20:00"></div>
<div class="col-sm-12 center">
	<%= link_to "Home Page", root_path, class: "btn btn-lg btn-custom" %>
  <%= link_to "To the Hall of Fame", hof_path, class: "btn btn-lg btn-custom" %>
  <%= link_to "To the Teams", teams_path, class: "btn btn-lg btn-custom" %> 	
</div>

